.navbar-nav {
    margin-left: auto;
}

.navbar-brand img {
    width: 120px;
}

.nav-link {
    margin-right: 30px;
}

.navbar button {
    width: 200px;
}

#hero h1 {
    margin-top: 150px;
}

#hero img {
    width: 100%;
}

#hero p {
    margin-top: 30px;
    margin-bottom: 30px;
}

#listhotel{
    margin-top: 120px;
}

#listkota {
    margin-top: 120px;
}

#listkota .card {
    border: none;
}

#listkota .card .card-title {
    bottom: 10px;
    position: absolute;
}

#artikel img {
    width: 100%;
}

#artikel .play {
    width: 350px;
}

#artikel h1 {
    margin-top: 300px;
}

#artikel p {
    margin-top: 30px;
    margin-bottom: 30px;
}

#footer {
    margin-top: 120px;
    margin-bottom: 50px;
}

#footer .logo {
    width: 120px;
}

#footer h5 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer .sosmed {
    width: 40px;
    margin-right: 10px;
}

#footer .play {
    width: 100%;
}